{include file='public/header' /}
<script src="__STATIC__/js/echarts.common.min.js"></script>
    <body>
        <div class="x-body">
            <blockquote class="layui-elem-quote">
                欢迎使用Alexa-Admin( 基于<a href="http://x.xuebingsi.com" style="color: #3fd6bb;" target="_blank">X-admin</a> ) 后台系统！<span class="f-14">v1.0</span>官方交流群： 101675621
            </blockquote>
            <p>登录次数：{:session('user_data.count')}</p>
            <p>登录IP：{$_SERVER['REMOTE_ADDR']}  上次登录时间： {:session('user_data.update_time')}</p>
            <fieldset class="layui-elem-field layui-field-title site-title">
              <legend><a name="default">信息统计</a></legend>
            </fieldset>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>统计</th>
                        <th>Article</th>
                        <th>管理员登录数据</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>总数</td>
                        <td>{$art_sum}</td>
                        <td>{$ad_sum}</td>
                    </tr>
                    <tr>
                        <td>今日</td>
                        <td>{$art_today}</td>
                        <td>{$ad_today}</td>
                    </tr>
                    <tr>
                        <td>昨日</td>
                        <td>{$art_yesterday}</td>
                        <td>{$ad_yesterday}</td>
                    </tr>
                    <tr>
                        <td>本周</td>
                        <td>{$art_week}</td>
                        <td>{$ad_week}</td>
                    </tr>
                    <tr>
                        <td>本月</td>
                        <td>{$art_month}</td>
                        <td>{$ad_month}</td>
                    </tr>
                </tbody>
            </table>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th colspan="2" scope="col">服务器信息</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th width="30%">服务器计算机名</th>
                        <td><span id="lbServerName">{$_SERVER['REMOTE_ADDR']}</span></td>
                    </tr>
                    <tr>
                        <td>服务器IP地址</td>
                        <td>{$_SERVER["SERVER_ADDR"]}</td>
                    </tr>
                    <tr>
                        <td>服务器域名</td>
                        <td>{$_SERVER['HTTP_HOST']}</td>
                    </tr>
                    <tr>
                        <td>服务器端口 </td>
                        <td>{$_SERVER["SERVER_PORT"]}</td>
                    </tr>
                    <tr>
                        <td>服务器版本 </td>
                        <td>{$_SERVER ['SERVER_SOFTWARE']}</td>
                    </tr>
                    <tr>
                        <td>本文件所在文件夹 </td>
                        <td><?php echo dirname(__FILE__);?></td>
                    </tr>
                    <tr>
                        <td>服务器操作系统 </td>
                        <td><?php echo PHP_OS;?></td>
                    </tr>
                    <tr>
                        <td>系统所在文件夹 </td>
                        <td>{$_SERVER['DOCUMENT_ROOT']}</td>
                    </tr>
                    <tr>
                        <td>脚本运行最大内存 </td>
                        <td><?php echo get_cfg_var ("memory_limit")?get_cfg_var("memory_limit"):"无"?></td>
                    </tr>
                    <tr>
                        <td>最大执行时间</td>
                        <td><?php echo get_cfg_var("max_execution_time")."秒 ";?></td>
                    </tr>
                    <tr>
                        <td>最大上传限制</td>
                        <td><?php echo get_cfg_var ("upload_max_filesize")?get_cfg_var ("upload_max_filesize"):"不允许上传附件";?></td>
                    </tr>
                    <tr>
                        <td>MYSQL数据库持续连接</td>
                        <td><?php echo @get_cfg_var("mysql.allow_persistent")?"是 ":"否"; ?></td>
                    </tr>
                    <tr>
                        <td>MYSQL最大连接数</td>
                        <td><?php echo @get_cfg_var("mysql.max_links")==-1 ? "不限" : @get_cfg_var("mysql.max_links");?></td>
                    </tr>
                    <tr>
                        <td>服务器的语言种类 </td>
                        <td>{$_SERVER['HTTP_ACCEPT_LANGUAGE']}</td>
                    </tr>
                    <tr>
                        <td>PHP 版本 </td>
                        <td><?php echo PHP_VERSION;?></td>
                    </tr>
                    <tr>
                        <td>服务器当前时间 </td>
                        <td><?php echo date('Y-m-d H:i:s',time());?></td>
                    </tr>
                    <tr>
                        <td>服务器浏览器版本 </td>
                        <td>{$_SERVER['HTTP_USER_AGENT']}</td>
                    </tr>
                    <tr>
                        <td>服务器上次启动到现在已运行 </td>
                        <td>7210分钟</td>
                    </tr>
                    <tr>
                        <td>内存存在量 </td>
                        <td><?php echo memory_get_usage();?></td>
                    </tr>
                    <tr>
                        <td>ZEND 引擎版本 </td>
                        <td><?php echo zend_version()?></td>
                    </tr>
                    <tr>
                        <td>当前SessionID </td>
                        <td><?php echo session_id();?></td>
                    </tr>
                    <tr>
                        <td>当前系统用户名 </td>
                        <td>{:session('user_name')}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="layui-footer footer footer-demo">
            <div class="layui-main">
                <p>感谢X-admin,layui,Thinkphp,百度Echarts,jquery</p>
                <p>
                    <a href="/">
                        Copyright ©2017 x-admin v2.3 All Rights Reserved.
                    </a>
                </p>
                <p>
                    <a href="__STATIC__/" target="_blank">
                        本后台系统由X前端框架提供前端技术支持
                    </a>
                </p>
            </div>
        </div>
		{include file='public/base_js' /}
    </body>
</html>