<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Page title -->
    <title>{$sys.title}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.png">

    <!-- Style -->
    <link rel="stylesheet" href="__STATIC__/home/css/theme.css">

</head>
<body>

<!-- Header -->
{include file="header/header" /}
<!-- /Header -->

<!-- Section: Page Header -->
<section class="section-page-header">
    <div class="container">
        <div class="row">

            <!-- Page Title -->
            <div class="col-md-8">
                <h1 class="title">Blog - {$blog.title}</h1>
                <div class="subtitle">{$blog.desc}</div>
            </div>
            <!-- /Page Title -->

            <!-- Breadcrumbs -->
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <li><i class="fa fa-fw fa-home"></i> <a href="/">Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li>{$blog.title}</li>
                </ul>
            </div>
            <!-- /Breadcrumbs -->

        </div>
    </div>
</section>
<!-- /Section: Page Header -->

<!-- Main -->
<main class="main-container">
    <div class="container">
        <div class="row">

            <!-- Blog Content -->
            <div class="col-md-9">

                <!-- Post -->
                <article class="blog-post">

                    <!-- Post Image -->
                    <div class="image">
                        <a href="{$blog.thumb}" class="image-popup">
                            <div class="gallery-image">
                                <img src="{$blog.thumb}">
                            </div>
                        </a>
                    </div>
                    <!-- /Post Image -->

                    <!-- Post Title -->
                    <h2 class="title">{$blog.title}</h2>
                    <!-- /Post Title -->

                    <!-- Post Metadata -->
                    <ul class="list-inline meta">
                        <li>January, 17, 2016</li>
                        <li>by <a href="#">profart</a></li>
                        <li><a href="#">Photography</a>, <a href="#">Illustration</a></li>
                        <li><a href="#">12 Comments</a></li>
                    </ul>
                    <!-- /Post Metadata -->

                    <!-- Post Content -->
                    <div class="content">

                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
                            of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,
                            a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure
                            Latin words, consectetur, from a <strong>Lorem Ipsum</strong> passage, and going through the cites of the
                            word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from
                            sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
                            Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very
                            popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit
                            amet..", comes from a line in section 1.10.32.
                        </p>

                        <blockquote>
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't look
                            even slightly believable.
                        </blockquote>

                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters, as opposed to using 'Content here, content
                            here', making it look like readable English. Many desktop publishing packages and web page
                            editors now use Lorem Ipsum as their default model text.
                        </p>

                        <p>
                            If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                            embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet
                            tend to repeat predefined chunks as necessary, making this the first true generator on the
                            Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model
                            sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem
                            Ipsum is therefore always free from repetition, injected humour, or non-characteristic words
                            etc.
                        </p>

                    </div>
                    <!-- /Post Content -->

                    <!-- Additional -->
                    <div class="row information">

                        <div class="col-sm-6">
                            <div class="tags">
                                <a class="tag" href="#">web</a>
                                <a class="tag" href="#">clean</a>
                                <a class="tag" href="#">gallery</a>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <ul class="social-inline">
                                <li><a href="#" class="fa fa-fw fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-fw fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-fw fa-google-plus"></a></li>
                                <li><a href="#" class="fa fa-fw fa-dribbble"></a></li>
                                <li><a href="#" class="fa fa-fw fa-pinterest"></a></li>
                            </ul>
                        </div>

                    </div>
                    <!-- /Additional -->



                </article>
                <!-- /Post -->

                <!-- Comments -->
                <div class="widget">

                    <h4 class="title">Recent Comments</h4>
                    

                    <!-- 来必力City版安装代码 -->
						<div id="lv-container" data-id="city" data-uid="MTAyMC8zMzc0NC8xMDI5OA==">
						<script type="text/javascript">
						   (function(d, s) {
						       var j, e = d.getElementsByTagName(s)[0];
						
						       if (typeof LivereTower === 'function') { return; }
						
						       j = d.createElement(s);
						       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
						       j.async = true;
						
						       e.parentNode.insertBefore(j, e);
						   })(document, 'script');
						</script>
						<noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
						</div>
					<!-- City版安装代码已完成 -->

                </div>
                <!-- /Comments -->

            </div>
            <!-- /Blog Content -->

            <!-- Blog Sidebar -->
            <div class="col-md-3">

                <!-- Widget: Categories -->
                <div class="widget">

                    <h4 class="title">Categories</h4>
                    <ul class="sidebar-menu">
                    {volist name="cate" id="cate"}
                        <li><a href="#">{$cate.catename}</a></li>
                    {/volist}
                    </ul>

                </div>
                <!-- /Widget: Categories -->

                <!-- Widget: Search -->
                <div class="widget">

                    <h4 class="title">Search</h4>
                    <div class="search">
                        <form class="form-inline" method="post">
                            <div class="form-group">
                                <input type="email" required="" placeholder="Search Text...*" class="form-control">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-theme" type="submit"><i class="fa fa-fw fa-search"></i></button>
                            </div>
                        </form>
                    </div>

                </div>
                <!-- /Widget: Search -->

                <!-- Widget: Latest Posts -->
                <div class="widget">

                    <h4 class="title">Latest Posts</h4>
                    <ul class="latest-posts">

                        <!-- Post -->
                        <li>
                            <div class="media post">
                                <div class="media-left">
                                    <div class="image">
                                        <img src="__STATIC__/home/images/last-post-01.jpg">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <p class="text">
                                        It is a long established fact that a reader will be distracted.
                                    </p>
                                    <a href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </li>
                        <!-- /Post -->

                        <!-- Post -->
                        <li>
                            <div class="media post">
                                <div class="media-left">
                                    <div class="image">
                                        <img src="__STATIC__/home/images/last-post-02.jpg">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <p class="text">
                                        It is a long established fact that a reader will be distracted.
                                    </p>
                                    <a href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </li>
                        <!-- /Post -->

                        <!-- Post -->
                        <li>
                            <div class="media post">
                                <div class="media-left">
                                    <div class="image">
                                        <img src="__STATIC__/home/images/last-post-03.jpg">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <p class="text">
                                        It is a long established fact that a reader will be distracted.
                                    </p>
                                    <a href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </li>
                        <!-- /Post -->

                    </ul>
                </div>
                <!-- /Widget: Latest Posts -->

                <!-- Widget: Advert -->
                <div class="widget">

                    <div class="advert bg-light-gray">
                        <div class="vertical-middle text-center">Advert Block</div>
                    </div>

                </div>
                <!-- /Widget: Advert -->

                <!-- Widget: Tags -->
                <div class="widget">

                    <h4 class="title">Tags</h4>
                    <div class="tags">
                        <a href="#" class="tag">web</a>
                        <a href="#" class="tag">design</a>
                        <a href="#" class="tag">clean</a>
                        <a href="#" class="tag">minimal</a>
                        <a href="#" class="tag">pixel perfect</a>
                        <a href="#" class="tag">blog</a>
                        <a href="#" class="tag">gallery</a>
                    </div>

                </div>
                <!-- /Widget: Tags -->

                <div class="widget">

                    <h4 class="title">Recent Comments</h4>
                    <ul class="recent-comments">
                        <li>
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-fw fa-1dot5 fa-commenting-o"></i>
                                </div>
                                <div class="media-body">
                                    <a href="#">profart</a> on <a href="#">Single Post With Image</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-fw fa-1dot5 fa-commenting-o"></i>
                                </div>
                                <div class="media-body">
                                    <a href="#">profart</a> on <a href="#">Single Post Image Carousel</a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-fw fa-1dot5 fa-commenting-o"></i>
                                </div>
                                <div class="media-body">
                                    <a href="#">profart</a> on <a href="#">Single Post With iFrame Video</a>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>

                <!-- Widget: Categories -->
                <div class="widget">

                    <h4 class="title">Meta</h4>
                    <ul class="sidebar-menu">
                        <li><a href="#">Login</a></li>
                        <li><a href="#">RSS Entries</a></li>
                        <li><a href="#">RSS Comments</a></li>
                    </ul>

                </div>
                <!-- /Widget: Categories -->

            </div>
            <!-- /Blog Sidebar -->

        </div>
    </div>
</main>
<!-- /Main -->

<!-- Footer -->
{include file="footer/footer" /}
<!-- /Footer -->

<!-- Scroll To Top -->
<div id="scroll-to-top" class="scroll-to-top">
    <i class="icon fa fa-angle-up"></i>
</div>
<!-- /Scroll To Top -->

<!-- Modal: Result Message -->
<div class="modal fade" id="result" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title">Sending message</h4>
            </div>

            <div class="modal-body">

                <div class="result-icon">
                    <div class="icon-border">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" preserveAspectRatio="none">
                            <circle cx="8" cy="8" r="6.215" transform="rotate(90 8 8)"></circle>
                        </svg>
                        <i class="icon fa fa-check"></i>
                    </div>
                </div>

                <p class="modal-result h4 text-center"></p>
            </div>

        </div>
    </div>
</div>
<!-- /Modal: Result Message -->

<!-- SCRIPTS -->
{include file="public/base-js" /}
<!-- /SCRIPTS -->

<!-- TODO: Remove this block, Demo-version only -->
<!-- Styleswitcher -->
<!-- /Styleswitcher -->
</body>
</html>
