<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Page title -->
    <title>{$sys.title}-{if isset($category['catename'])}{$category.catename}{else /}Search{/if}</title>
	
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    {include file="public/icon" /}

    <!-- Style -->
	<link rel="stylesheet" href="__STATIC__/home/css/theme.css">

</head>
<body>

{include file="header/header" /}

<!-- Section: Page Header -->
<section class="section-page-header">
    <div class="container">
        <div class="row">

            <!-- Page Title -->
            <div class="col-md-8">
                <h1 class="title">Portfolio - 4 Columns</h1>
                <div class="subtitle">There are many variations of passages </div>
            </div>
            <!-- /Page Title -->

            <!-- Breadcrumbs -->
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <li><i class="fa fa-fw fa-home"></i> <a href="/">Home</a></li>
                    <li><a href="{if isset($category)}{:url('index/article/catesearch', ['id' => $category['id']])}{else /}{/if}">{if isset($category)}{$category.catename}{else /}Search{/if}</a></li>
                </ul>
            </div>
            <!-- /Breadcrumbs -->

        </div>
    </div>
</section>
<!-- /Section: Page Header -->

<!-- Main -->
<main class="main-container">

    <section>
        <div class="container">

            <!-- Project -->
            <div class="row">

                <div class="projects-list">

                    {volist name="arti" id="art"}
	                    <div class="col-sm-3 col-xs-12 project-image" title="{$art.title}">
	                        <a href="{:url('index/products/index', ['id' => $art['id']])}" target="_blank">
	                            <div class="gallery-image">
	                                <img src="{$art.thumb}" width=262.5 height=148 alt="{$art.desc}">
	                            </div>
	                        </a>
	                    </div>
                    {/volist}

                </div>

                <!-- Pagination -->
                <div class="col-md-12">
                    <ul class="pagination">
                        <li><span>Page 1 of 5</span></li>
                        {$arti->render()}
                    </ul>
                </div>
                <!-- /Pagination -->

            </div>
            <!-- /Project -->

        </div>
    </section>

    <section class="section-small mt bg-light-gray">
        <div class="container">

            <!-- Section Header -->
            <div class="row">
                <div class="col-md-6">
                    <header>
                        <h2 class="section-title"><span class="text-theme">Recent</span> Projects</h2>
                        <p class="section-subtitle">It is a long established fact that a reader</p>
                    </header>
                </div>
            </div>
            <!-- /Section Header -->

            <!-- Section Content -->
            <div class="row mt">
                <div class="col-md-12">
                    <div class="projects-carousel owl-carousel owl-theme">

                        {volist name="bot_pro" id="bot_pro"}
	                        <div class="item recent-project">
	                            <a href="{:url('index/products/index', ['id' => $bot_pro['id']])}" target="_blank">
	                                <div class="gallery-image">
	                                    <img src="{$bot_pro.thumb}" width=275 height=155>
	                                </div>
	                            </a>
	                            <a href="#" class="info">
	                                <h4 class="title">{$bot_pro.title}</h4>
	                                <p class="description"># {$bot_pro.desc|substr=0,30}</p>
	                            </a>
	                        </div>
                        {/volist}


                    </div>
                </div>
            </div>
            <!-- /Section content -->

        </div>
    </section>

</main>
<!-- /Main -->

<!-- Footer -->
{include file="footer/footer" /}
<!-- /Footer -->

<!-- Scroll To Top -->
<div id="scroll-to-top" class="scroll-to-top">
    <i class="icon fa fa-angle-up"></i>
</div>
<!-- /Scroll To Top -->

<!-- Modal: Result Message -->
<div class="modal fade" id="result" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title">Sending message</h4>
            </div>

            <div class="modal-body">

                <div class="result-icon">
                    <div class="icon-border">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" preserveAspectRatio="none">
                            <circle cx="8" cy="8" r="6.215" transform="rotate(90 8 8)"></circle>
                        </svg>
                        <i class="icon fa fa-check"></i>
                    </div>
                </div>

                <p class="modal-result h4 text-center"></p>
            </div>

        </div>
    </div>
</div>
<!-- /Modal: Result Message -->

<!-- SCRIPTS -->
{include file="public/base-js" /}
<!-- /SCRIPTS -->

<!-- TODO: Remove this block, Demo-version only -->
<!-- Styleswitcher -->
<!-- /Styleswitcher -->
</body>
</html>
