{include file='public/header' /}
<link rel="stylesheet" href="__STATIC__/lib/bootstrap/css/bootstrap.css">

    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>会员管理</cite></a>
              <a><cite>管理员列表</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
        </div>
        <div class="x-body">
        <form class="layui-form x-center" action="" method="post" style="width:800px">
                <div class="layui-form-pane" style="margin-top: 15px;">
                  <div class="layui-form-item">
                    <label class="layui-form-label">最后登录日期</label>
                    <div class="layui-input-inline">
                      <input class="layui-input" placeholder="开始日" name="start" id="LAY_demorange_s">
                    </div>
                    <div class="layui-input-inline">
                      <input class="layui-input" placeholder="截止日" name="end" id="LAY_demorange_e">
                    </div>
                    <div class="layui-input-inline">
                      <input type="text" name="username" placeholder="用户名" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline" style="width:80px">
                        <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon"></i></button>
                    </div>
                  </div>
                </div>
            </form>
        {if $Think.session.user_data.role == 0}
	        <xblock>
		        <a href="{:url('admin/admin/add')}"><button class="layui-btn"><i class="layui-icon"></i>添加</button></a>
		        <span class="x-right" style="line-height:40px">共有管理员：{$count} 位</span>
	        </xblock>
    	{/if}    
        
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            登录名
                        </th>
                        <th>
                            邮箱
                        </th>
                        
                        
                        
                        
                        {if $Think.session.user_data.role == 0}
                        <th>
                            角色
                        </th>
                        <th>
                            加入时间
                        </th>
                        {/if}
                        
                        
                                                <th>
                            最后登录时间
                        </th>
                        
                        
                        {if $Think.session.user_data.role == 0}
                        <th>
                            状态
                        </th>
                        
                        <th>
                            操作
                        </th>
                        {/if}
                        
                    </tr>
                </thead>
                <tbody>
                    {volist name="admin" id="ad"}
                    
                    <tr>
                        <td>
                            {$ad.id}
                        </td>
                        <td>
                            {$ad.username}
                        </td>
                        <td>
                            {$ad.email}
                        </td>
                        
                        
                        {if $Think.session.user_data.role == 0}
	                        <td>
	                        {if $ad.role !== 1}超级管理员{else /}管理员{/if}
	                        </td>
	                        <td>
	                            {$ad.create_time}
	                        </td>
                        {/if}
                        <td>
                            {$ad.update_time}
                        </td>
                        
                        {if $Think.session.user_data.role == 0}
                        <td class="td-status">
                            <span class="layui-btn {if $ad.switch == 'false'}layui-btn-danger{/if} layui-btn-mini">
                              <a href="{:url('admin/admin/trans', ['id' => $ad['id']])}" style="color: white;"> {if $ad.switch == 'false'}卸任状态{else /}在职状态{/if}</a>
                            </span>
                        </td>
                        <td class="td-manage">
                            <a title="编辑" href="{:url('admin/admin/edit', ['id' => $ad['id']])}" class="ml-5" style="text-decoration:none">
                                <i class="layui-icon"></i>
                            </a>
                            <a title="删除" onclick="return confirm('你确定删除该管理员？')" href="{:url('admin/admin/delete', ['id' => $ad['id']])}" style="text-decoration:none">
                                <i class="layui-icon"></i>
                            </a>
                        </td>
                        {/if}
                        
                    </tr>
                    
                    {/volist}
                </tbody>
            </table>
            
			<div style="text-align: center;">{$admin->render()}</div>
					
            <div id="page"></div>
        </div>
        {include file='public/base_js' /}

    </body>
</html>