{include file='public/header' /}
    
    <body>
        <div class="x-body">
            <form class="layui-form" method="post" action="{:url('admin/category/update')}">
                <div class="layui-form-item">
                    <label for="cname" class="layui-form-label">
                        排序
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="sort" name="sort" required="" lay-verify="required" autocomplete="off"  value="{$_cates.sort}" class="layui-input">
                    </div>
                   	
                </div>
                <div class="layui-form-item">
                    <label for="cname" class="layui-form-label">
                        <span class="x-red">*</span>分类名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="cname" name="catename" required="" value="{$_cates.catename}" lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
                
                <div class="layui-form-item">
                    <label class="layui-form-label">所属分类</label>
                    <div class="layui-input-inline" >
                            	<select name="pid">
                            		<option value="0">顶级栏目</option>
                            		{volist name="_cateres" id="cate"}
                            		<option {if condition="$_cates.pid eq $cate['id']"}selected="selected"{/if} value="{$cate.id}"><?php echo str_repeat('-',$cate['level']*4);?>{$cate.catename}</option>
                            		{/volist}
                            	</select>
                    </div>
                </div>
                
                <input type="hidden" name="id" value="{$_cates.id}">
                
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="save" lay-submit="">
                        保存
                    </button>
                </div>
            </form>

        </div>
        
        {include file='public/base_js' /}
    </body>
<script>
 layui.use('form', function(){
 var form = layui.form();
   
   //do something
  
});
</script>
</html>