<script src="__STATIC__/home/js/jquery-2.2.0.min.js"></script>
<script src="__STATIC__/home/js/bootstrap.min.js"></script>
<script src="__STATIC__/home/js/owl.carousel.min.js"></script>
<script src="__STATIC__/home/js/jquery.magnific-popup.min.js"></script>
<script src="__STATIC__/home/js/jquery.validate.min.js"></script>
<script src="__STATIC__/home/js/jquery.stellar.min.js"></script>
<script src="__STATIC__/home/js/wow.min.js"></script>
<script src="__STATIC__/home/js/masonry.pkgd.min.js"></script>
<script src="__STATIC__/home/js/jquery.appear.js"></script>
<script src="__STATIC__/home/js/jquery.animateNumber.min.js"></script>
<script src="__STATIC__/home/js/general.js"></script>