{include file='public/header' /}
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>会员管理</cite></a>
              <a><cite>基本设置</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
        </div>
        <div class="x-body">
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
              <ul class="layui-tab-title">
                <li class="layui-this">网站设置</li>

              </ul>
              <div class="layui-tab-content" >
                <div class="layui-tab-item layui-show">
                    <form class="layui-form layui-form-pane" action="{:url('admin/system/index')}" method="post">
                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                <span class='x-red'>*</span>网站名称
                            </label>
                            <div class="layui-input-block">
                                <input type="text" name="title" autocomplete="off" placeholder="控制在25个字、50个字节以内" class="layui-input" value="{$system->title}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                <span class='x-red'>*</span>关键词
                            </label>
                            <div class="layui-input-block">
                                <input type="text" name="keywords" autocomplete="off" placeholder="5个左右,8汉字以内,用英文,隔开" class="layui-input" value="{$system->keywords}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                <span class='x-red'>*</span>描述
                            </label>
                            <div class="layui-input-block">
                                <input type="text" name="desc" autocomplete="off" placeholder="空制在80个汉字，160个字符以内" class="layui-input" value="{$system->desc}">
                            </div>
                        </div>
                        
                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                <span class='x-red'>*</span>Tag
                            </label>
                            <div class="layui-input-block">
                                <input type="text" name=tag autocomplete="off" placeholder="Tag用半角逗号隔开" class="layui-input" value="{$system->tag}">
                            </div>
                        </div>
                        
                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                <span class='x-red'>*</span>备案号
                            </label>
                            <div class="layui-input-block">
                                <input type="text" name="record" autocomplete="off" placeholder="空制在80个汉字，160个字符以内" class="layui-input" value="{$system->record}">
                            </div>
                        </div>


                        <div class="layui-form-item">
                            <label for="AppId" class="layui-form-label">
                                <span class="x-red">*</span>是否开启
                            </label>
                            <div class="layui-input-block">
                                <select name="is_close">
                                    {eq name="$system->is_close" value="0"}
                                    <option value="0" selected>开启网站</option>
                                    <option value="1">关闭网站</option>
                                    {else /}
                                    <option value="0" >开启网站</option>
                                    <option value="1" selected>关闭网站</option>
                                    {/eq}

                                </select>
                            </div>
                		</div>
                		
                       	<div class="layui-form-item">
                            <label for="AppId" class="layui-form-label">
                                <span class="x-red">*</span>邮件服务
                            </label>
                            <div class="layui-input-block">
                                <select name="is_mail">
                                    {eq name="$system->is_mail" value="0"}
                                    <option value="0" selected>开启邮件</option>
                                    <option value="1">关闭邮件</option>
                                    {else /}
                                    <option value="0" >开启邮件</option>
                                    <option value="1" selected>关闭邮件</option>
                                    {/eq}

                                </select>
                            </div>
                		</div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                <span class='x-red'>*</span>图片存放
                            </label>
                            <div class="layui-input-block">
				                <input type="radio" name="type" {if $system->type == 0}checked{/if} value="0" title="本地服务器">
			      				<input type="radio" name="type" {if $system->type == 1}checked{/if} value="1" title="七牛云" >
			      				<!-- <input type="radio" name="type" {if $system->type == 2}checked{/if} value="阿里云OSS" title="阿里云OSS" > -->                            </div>
                        </div>

                		<!--用隐藏域发送is_update字段值-->
                        <input type="hidden" name="is_update" value="{$system->is_update}">

                        <div class="layui-form-item">
                            <input class="layui-btn" type="submit" lay-submit="" lay-filter="*" value="保存">
                        </div>
                    </form>
                    <div style="height:100px;"></div>
                </div>




              </div>
            </div>
        </div>
        {include file='public/base_js' /}

        <script>
            layui.use(['element','layer','form'], function(){
                $ = layui.jquery;//jquery
              lement = layui.element();//面包导航
              layer = layui.layer;//弹出层
              form = layui.form()

              })
            </script>

    </body>
</html>