<!-- Slider -->
<div class="slider owl-carousel owl-theme">

<!-- Slide -->
{volist name="banner" id="banner"}

<div class="item mask" style="background: url(http://image.fsociaty.com/home.jpg) no-repeat center top / cover;" data-stellar-background-ratio="0.4">

	<div class="container height-100p">
		<div class="row height-100p">

			<div class="col-sm-6 col-md-6 height-100p bounceInLeft wow" data-wow-duration="1.3s" data-wow-delay="0.3s" data-stellar-ratio="0.7">
				<div class="vertical-middle">
					<h1 class="text-white">{$banner.title}<span class="text-theme">Heater</span></h1>
					<div class="text-white h4">
						{$banner.desc}
					</div>
					<a href="{$banner.link}" class="smooth-scroll btn btn-theme">Start Watching</a>
				</div>
			</div>

			<div class="col-sm-6 col-md-4 col-md-offset-2 height-100p bounceInRight wow" data-wow-duration="1.3s" data-stellar-ratio="0.8">
				<div class="vertical-middle">
					<img src="{$banner.thumb}" class="img-responsive" alt="">
				</div>
			</div>

		</div>
	</div>

</div>

{/volist}
<!-- /Slide -->

</div>
<!-- /Slider -->