<!-- Slider -->
<div class="slider owl-carousel owl-theme">

<!-- Slide -->
<div class="item mask" style="background: url(__STATIC__/home/images/home.jpg) no-repeat center top / cover;" data-stellar-background-ratio="0.4">

	<div class="container height-100p">
		<div class="row height-100p">

			<div class="col-sm-6 col-md-6 height-100p bounceInLeft wow" data-wow-duration="1.3s" data-wow-delay="0.3s" data-stellar-ratio="0.7">
				<div class="vertical-middle">
					<h1 class="text-white">Welcome to <span class="text-theme">CleaThin</span></h1>
					<div class="text-white h4">
						It is a long established fact that a reader will be distracted by the readable content of a
						page when looking at its layout.
					</div>
					<a href="#about" class="smooth-scroll btn btn-theme">Start Watching</a>
				</div>
			</div>

			<div class="col-sm-6 col-md-4 col-md-offset-2 height-100p bounceInRight wow" data-wow-duration="1.3s" data-stellar-ratio="0.8">
				<div class="vertical-middle">
					<img src="__STATIC__/home/images/devices.png" class="img-responsive" alt="">
				</div>
			</div>

		</div>
	</div>

</div>
<!-- /Slide -->
<!-- Slide -->
<div class="item mask" style="background: url(__STATIC__/home/images/home.jpg) no-repeat center top / cover;" data-stellar-background-ratio="0.4">

	<div class="container height-100p">
		<div class="row height-100p">

			<div class="col-sm-6 col-md-6 height-100p bounceInLeft wow" data-wow-duration="1.3s" data-wow-delay="0.3s" data-stellar-ratio="0.7">
				<div class="vertical-middle">
					<h1 class="text-white">Welcome to <span class="text-theme">CleaThin</span></h1>
					<div class="text-white h4">
						It is a long established fact that a reader will be distracted by the readable content of a
						page when looking at its layout.
					</div>
					<a href="#about" class="smooth-scroll btn btn-theme">Start Watching</a>
				</div>
			</div>

			<div class="col-sm-6 col-md-4 col-md-offset-2 height-100p bounceInRight wow" data-wow-duration="1.3s" data-stellar-ratio="0.8">
				<div class="vertical-middle">
					<img src="__STATIC__/home/images/devices.png" class="img-responsive" alt="">
				</div>
			</div>

		</div>
	</div>

</div>

</div>
<!-- /Slider -->