<div class="layui-side layui-bg-black x-side">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree site-demo-nav" lay-filter="side">
        <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe629;</i><cite>可视化数据</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <dd class="">
                            <a href="javascript:;" _href="{:url('visu/browser')}">
                                <cite>数据来源</cite>
                            </a>
                        </dd>
                        <dd class="">
                            <a href="javascript:;" _href="{:url('visu/view')}">
                                <cite>PV数据</cite>
                            </a>
                        </dd>
                        <dd class="">
                            <a href="javascript:;" _href="{:url('visu/end')}">
                                <cite>PV详细</cite>
                            </a>
                        </dd>
                        <dd class="">
                            <a href="javascript:;" _href="{:url('visu/area')}">
                                <cite>访问地域</cite>
                            </a>
                        </dd>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe621;</i><cite>文章管理</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <dd class="">
                            <a href="javascript:;" _href="{:url('article/index')}">
                                <cite>文章列表</cite>
                            </a>
                        </dd>
                    </dd>
                </dl>
            </li>
            
            
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe630;</i><cite>分类管理</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('category/index')}">
                            <cite>分类列表</cite>
                        </a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe613;</i><cite>管理员管理</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('admin/index')}">
                            <cite>管理员列表</cite>
                        </a>
                    </dd>
                </dl>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('admin/loglist')}">
                            <cite>管理员日志</cite>
                        </a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe614;</i><cite>系统设置</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('system/index')}">
                            <cite>系统设置</cite>
                        </a>
                    </dd>
                    <dd class="">
                        <a href="javascript:;" _href="{:url('system/linklist')}">
                            <cite>友情链接</cite>
                        </a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a class="javascript:;" href="javascript:;">
                    <i class="layui-icon" style="top: 3px;">&#xe606;</i><cite>邮件服务</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd class="">
                        <a href="javascript:;" _href="{:url('mailer/admin')}">
                            <cite>root邮箱设置</cite>
                        </a>
                    </dd>
                    <dd class="">
                        <a href="javascript:;" _href="{:url('mailer/index')}"> <!-- 二次开发请自行配置 TODO -->
                            <cite>用户邮件设置</cite>
                        </a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>

</div>