<!-- Footer -->
<footer class="footer section-small">
<div class="container">
	<div class="row">

		<!-- Footer Column -->
		<div class="col-md-3 col-xs-6 footer-col">

			<!-- Footer Logo -->
			<div class="logo">
				<img src="__STATIC__/home/images/logo.png" alt="{$sys.desc}">
			</div>
			<!-- /Footer Logo -->

			<!-- Footer Text -->
			<p class="text">
				{$sys.desc}
			</p>
			<!-- /Footer Text -->

			<hr>

			<!-- Copyright -->
			<p class="copyright">
				{$sys.record}
			</p>
			<!-- /Copyright -->

			<!-- Footer Social -->
			<ul class="social-inline">
				<li><a href="https://github.com/FerreWagner/Heater" target="_blank" class="fa fa-fw fa-github"></a></li>
				<li><a href="https://weibo.com/u/3877828291" target="_blank" class="fa fa-fw fa-weibo"></a></li>
				<li><a href="//shang.qq.com/wpa/qunwpa?idkey=15d229c0ccaf8f5e4901e4be5ff5580f7bdbbf4baab700894dd4212802ce0243" target="_blank" class="fa fa-fw fa-qq"></a></li>
				<li><a href="#" class="fa fa-fw fa-google-plus"></a></li>
			</ul>
			<!-- /Footer Social -->

		</div>
		<!-- /Footer Column -->

		<!-- Footer Column -->
		<div class="col-md-3 col-xs-6 footer-col">

			<h3 class="title">Latest From <span class="text-theme">Blog</span></h3>

			<!-- Footer Post -->
				{volist name="baseblog" id="baseblog"}
					<div class="media post">
						<div class="media-left">
							<div class="image">
								<img src="{$baseblog.thumb}" width=60 height=60 alt="{$baseblog.desc}">
							</div>
						</div>
						<div class="media-body">
							<p class="text">
								{$baseblog.title}
							</p>
							<a href="{:url('index/article/blog', ['id' => $baseblog.id])}" target="_blank">Read more</a>
						</div>
					</div>
				{/volist}
			<!-- /Footer Post -->


		</div>
		<!-- /Footer Column -->

		<!-- Footer Column -->
		<div class="col-md-2 col-xs-6 footer-col">

			<h3 class="title">Site Menu</h3>

			<!-- Footer Menu -->
			<ul class="menu">
				{volist name="cateres" id="cares"}
					{if $cares['pid'] == 0}
						<li><a href="{if $cares.catename == 'HOME'}/{else /}{:url('index/index/catesearch', ['id' => $cares['id']])}{/if}">{$cares.catename}</a></li>
					{/if}
				{/volist}
			</ul>
			<!-- /Footer Menu -->

		</div>
		<!-- /Footer Column -->

		<!-- Footer Column -->
		<div class="col-md-4 col-xs-6 footer-col">

			<h3 class="title">Site <span class="text-theme">Tag</span></h3>

			<!-- Footer Signup Form -->
			<!-- <div class="signup-form">
				<form method="post" class="form-inline">
					<div class="form-group">
						<input type="email" class="form-control" placeholder="Your E-mail...*" required>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-theme"><i class="fa fa-fw fa-envelope"></i></button>
					</div>
				</form>

			</div> -->
			<!-- /Footer Signup Form -->

			<hr>

			<!-- Footer Tags -->
			<div class="tags">
				{volist name="basetag" id="footerbasetag"}
					<a href="#" class="tag">{$footerbasetag}</a>
				{/volist}
			</div>
			<!-- /Footer Tags -->

		</div>
		<!-- /Footer Column -->

	</div>
</div>
</footer>
<!-- /Footer -->