<!-- Footer -->
<footer class="footer section-small">
<div class="container">
	<div class="row">

		<!-- Footer Column -->
		<div class="col-md-3 col-xs-6 footer-col">

			<!-- Footer Logo -->
			<div class="logo">
				<img src="__STATIC__/home/images/logo.png" alt="">
			</div>
			<!-- /Footer Logo -->

			<!-- Footer Text -->
			<p class="text">
				It is a long established fact that a reader will be distracted by the readable.
			</p>
			<!-- /Footer Text -->

			<hr>

			<!-- Copyright -->
			<p class="copyright">
				Copyright &copy; 2015-2016 <strong>Valery Timofeev</strong>
			</p>
			<!-- /Copyright -->

			<!-- Footer Social -->
			<ul class="social-inline">
				<li><a href="#" class="fa fa-fw fa-facebook"></a></li>
				<li><a href="#" class="fa fa-fw fa-twitter"></a></li>
				<li><a href="#" class="fa fa-fw fa-google-plus"></a></li>
				<li><a href="#" class="fa fa-fw fa-dribbble"></a></li>
				<li><a href="#" class="fa fa-fw fa-pinterest"></a></li>
			</ul>
			<!-- /Footer Social -->

		</div>
		<!-- /Footer Column -->

		<!-- Footer Column -->
		<div class="col-md-3 col-xs-6 footer-col">

			<h3 class="title">Latest From <span class="text-theme">Blog</span></h3>

			<!-- Footer Post -->
			<div class="media post">
				<div class="media-left">
					<div class="image">
						<img src="__STATIC__/home/images/last-post-01.jpg" alt="">
					</div>
				</div>
				<div class="media-body">
					<p class="text">
						It is a long established fact that a reader will be distracted.
					</p>
					<a href="#">Read more</a>
				</div>
			</div>
			<!-- /Footer Post -->

			<!-- Footer Post -->
			<div class="media post">
				<div class="media-left">
					<div class="image">
						<img src="__STATIC__/home/images/last-post-02.jpg" alt="">
					</div>
				</div>
				<div class="media-body">
					<p class="text">
						It is a long established fact that a reader will be distracted.
					</p>
					<a href="#">Read more</a>
				</div>
			</div>
			<!-- /Footer Post -->

		</div>
		<!-- /Footer Column -->

		<!-- Footer Column -->
		<div class="col-md-2 col-xs-6 footer-col">

			<h3 class="title">Site Menu</h3>

			<!-- Footer Menu -->
			<ul class="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Features</a></li>
				<li><a href="#">Projects</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			<!-- /Footer Menu -->

		</div>
		<!-- /Footer Column -->

		<!-- Footer Column -->
		<div class="col-md-4 col-xs-6 footer-col">

			<h3 class="title">Signup to <span class="text-theme">Newsletter</span></h3>

			<!-- Footer Signup Form -->
			<div class="signup-form">
				<form method="post" class="form-inline">
					<div class="form-group">
						<input type="email" class="form-control" placeholder="Your E-mail...*" required>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-theme"><i class="fa fa-fw fa-envelope"></i></button>
					</div>
				</form>

			</div>
			<!-- /Footer Signup Form -->

			<hr>

			<!-- Footer Tags -->
			<div class="tags">
				<a href="#" class="tag">web</a>
				<a href="#" class="tag">design</a>
				<a href="#" class="tag">clean</a>
				<a href="#" class="tag">minimal</a>
				<a href="#" class="tag">pixel perfect</a>
				<a href="#" class="tag">blog</a>
				<a href="#" class="tag">gallery</a>
			</div>
			<!-- /Footer Tags -->

		</div>
		<!-- /Footer Column -->

	</div>
</div>
</footer>
<!-- /Footer -->