<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Page title -->
	<title>{$sys.title}</title>
	
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{$sys.desc}" />
	<meta name="keywords" content="{$sys.keywords}" />
	<!-- Favicon -->
	<!-- 	<link rel="shortcut icon" href="/favicon.ico">-->		    
	{include file="public/icon" /}
	
	<!-- Style -->
	<link rel="stylesheet" href="__STATIC__/home/css/theme.css">
	
	<!-- TODO: Predefined Schemes (select one of the presented) -->
	{include file="public/index-css" /}

</head>
<body>

<!-- Preloader -->
<div id="preloader">
<div class="loader"></div>
</div>
<!-- /Preloader -->

{include file="header/header" /}

{include file="banner/banner" /}

<!-- Main -->
<main class="main-container">

<!-- Section: Projects -->
<section id="projects" class="section-small bg-light-gray">
	<div class="container">

		<!-- Section Header -->
		<div class="row">
			<div class="col-md-6">
				<header>
					<h2 class="section-title"><span class="text-theme">Latest</span> Projects</h2>
					<p class="section-subtitle">More Projects  <a href="{:url('index/article/catesearch', ['id' => 2])}" style="margin-left: 20px;" target="_blank">More >></a></p>
				</header>
			</div>
			<div class="col-md-6">
			</div>
		</div>
		<!-- /Section Header -->

		<!-- Section Content -->
		<div class="row mt">

			{volist name="product" id="pro"}
			<div class="col-md-4 col-sm-6 fadeIn wow" data-wow-duration="1.3s" {if $i == 1}{else /}data-wow-delay="{$i*0.2-0.2}s"{/if}>
				<a href="{:url('index/products/index', ['id' => $pro['id']])}" target="_blank" class="project-item">
					<div class="gallery-image">
						<img src="{$pro.thumb}" alt="{:implode(',',$pro.keywords)}" width=360 height=202>
					</div>
					<div class="info">
						<div class="h4 title">{$pro.title}</div>
						<p class="description"># {$pro.desc}</p>
						<div class="social">
							<i class="fa fa-fw fa-heart-o"></i> 17
							<i class="fa fa-fw fa-share-square-o"></i> 3
						</div>
					</div>
				</a>
			</div>
			{/volist}

		</div>
		<!-- /Section content -->

	</div>
</section>
<!-- /Section: Projects -->

<!-- Section: About -->
<section id="about" class="section">
	<div class="container">

		<!-- Section Header -->
		<div class="row" style="display: none">
			<div class="col-md-6 col-md-offset-3">
				<header class="text-center">
					<h2 class="section-title">About <span class="text-theme">Us</span></h2>
					<p class="section-subtitle">Please write down your suggestions and opinions</p>
				</header>
			</div>
		</div>
		<!-- /Section Header -->
		<div class="row" id="design">
		
			{volist name="design" id="de"}
				<!-- Feature Block -->
				<div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="{($i-1)*0.4}s">
					<span class="{if $i == 1}icon_link_alt{elseif $i == 2 /}icon_mobile{else /}icon_pens{/if} icon"></span>
					<div class="h3 title">{$de.title}</div>
					<p class="description">
						{$de.content}
					</p>
					<a href="{:url('index/article/blog', ['id' => $de['id']])}" target="_blank" class="btn btn-theme">Read more</a>
				</div>
				<!-- /Feature Block -->
			{/volist}
			

		</div>
	</div>
</section>
<!-- /Section: About -->





<!-- Section: Statistics -->
<section id="statistics" class="section bg-tuna">
	<div class="container">

		<div class="row">

			<!-- Statistic Block -->
			<div class="col-sm-3 col-xs-6 stat">
				<span class="icon_pens icon zoomIn wow" data-wow-duration="0.7s"></span>
				<div class="number animate-number h2" data-value="{$pro_count}"></div>
				<h4 class="title bounceInUp wow" data-wow-duration="0.7s">Finished Projects</h4>
			</div>
			<!-- /Statistic Block -->

			<!-- Statistic Block -->
			<div class="col-sm-3 col-xs-6 stat">
				<span class="icon_group icon zoomIn wow" data-wow-duration="0.7s"></span>
				<div class="number animate-number h2" data-value="{$count_artsee}"></div>
				<h4 class="title bounceInUp wow" data-wow-duration="0.7s">Products View</h4>
			</div>
			<!-- /Statistic Block -->

			<!-- Statistic Block -->
			<div class="col-sm-3 col-xs-6 stat">
				<span class="icon_mug icon zoomIn wow" data-wow-duration="0.7s"></span>
				<div class="number animate-number h2" data-value="238"></div>
				<h4 class="title bounceInUp wow" data-wow-duration="0.7s">Send Me The Coffee</h4>
			</div>
			<!-- /Statistic Block -->

			<!-- Statistic Block -->
			<div class="col-sm-3 col-xs-6 stat">
				<span class="icon_building icon zoomIn wow" data-wow-duration="0.7s"></span>
				<div class="number animate-number h2" data-value="{$day_work}"></div>
				<h4 class="title bounceInUp wow" data-wow-duration="0.7s">Days At Work</h4>
			</div>
			<!-- /Statistic Block -->

		</div>

	</div>
</section>
<!-- /Section: Statistics -->

<!-- Section: More Features -->
<section id="more-features" class="section">
	<div class="container">

		<!-- Section Header -->
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<header class="text-center">
					<h2 class="section-title">Our <span class="text-theme"> Features</span></h2>
					<p class="section-subtitle">我们的特点</p>
				</header>
			</div>
		</div>
		<!-- /Section Header -->

		<!-- Section Content -->
		<div class="row section-content zoomIn wow">

			<!-- Feature Block -->
			{volist name="fea" id="fea"}
			<div class="col-md-4 col-sm-6 more-feature">
				<div class="media">
					<div class="media-left">
						<span class="{if $i == 1}icon_link_alt{elseif $i == 2 /}icon_easel{elseif $i == 3 /}icon_puzzle{elseif $i == 4 /}icon_download{elseif $i == 5 /}icon_heart_alt{elseif $i == 6 /}icon_cogs{/if} icon"></span>
					</div>
					<div class="media-body">
						<h3 class="title"><a href="{:url('index/article/blog', ['id' => $fea.id])}" target="_blank">{$fea.title}</a></h3>
						<p class="description">
							{$fea.content}
						</p>
					</div>
				</div>
			</div>
			{/volist}
			<!-- /Feature Block -->

		</div>
		<!-- /Section Content -->

	</div>
</section>
<!-- /Section: More Features -->

<!-- Section: Testimonials -->
<section id="testimonials" class="section-small bg-light-gray">
	<div class="container">

		<!-- Section Header -->
		<div class="row">

			<div class="col-md-6">
				<header>
					<h2 class="section-title">The Object Of <span class="text-theme">Our Service</span></h2>
					<p class="section-subtitle">我们服务的对象</p>
				</header>
			</div>

		</div>
		<!-- /Section Header -->

		<!-- Section Content -->
		<div class="row mt">
			<div class="col-md-12 zoomIn wow">

				<!-- Testimonials Carousel -->
				<div id="testimonials-carousel" class="testimonials-carousel owl-carousel owl-theme">

					<!-- Testimonial -->
					{volist name="client" id="cli"}
					<div class="testimonial">

						<div class="content">
							<div class="media">
								<div class="media-left">
									<a href="{:url('index/article/blog', ['id' => $cli['id']])}" target="_blank"><img src="{$cli.thumb}" width=100 height=100 alt="{$cli.desc}"></a>
								</div>
								<div class="media-body media-middle">
									<p class="text">
										{$cli.content}
									</p>
								</div>
							</div>
						</div>

						<div class="info">
							<h4 class="author">{$cli.title}</h4>
							<span class="company">{$cli.author}</span>
						</div>

					</div>
					{/volist}
					<!-- /Testimonial -->


				</div>
				<!-- /Testimonials Carousel -->

			</div>
		</div>
		<!-- /Section Content -->

	</div>
</section>
<!-- /Section: Testimonials -->

<!-- Section: Contact -->
<section id="contact" class="section">
	<div class="container">

		<!-- Section Header -->
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<header class="text-center">
					<h2 class="section-title">Want to say <span class="text-theme">Hello?</span></h2>
					<p class="section-subtitle">Please write down your suggestions and opinions</p>
				</header>
			</div>
		</div>
		<!-- /Section Header -->

		<!-- Section Content -->
		<div class="row section-content">

			<!-- Contact Form -->
			<div class="col-md-8 col-md-offset-2 contact-form fadeIn wow">
				<form class="form-ajax" method="post" action="{:url('index/feedback/add')}">

					<input type="hidden" name="form" value="Contact">

					<div class="row">
						<div class="form-group col-md-6">
							<input type="text" name="name" class="form-control" placeholder="Your Name... *" required>
						</div>
						<div class="form-group col-md-6">
							<input type="email" name="email" class="form-control" placeholder="E-mail address... *" required>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<textarea name="message" class="form-control" placeholder="Message... "></textarea>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12 text-center">
							<button type="submit" class="btn btn-theme"><i class="fa fa-fw fa-paper-plane-o"></i> Send Message</button>
						</div>
					</div>
					{:token()}
				</form>
			</div>
			<!-- /Contact Form -->


		</div>
		<!-- /Section Content -->

	</div>
</section>
<!-- /Section: Contact -->

</main>
<!-- /Main -->

{include file="footer/footer" /}

<!-- Scroll To Top -->
<div id="scroll-to-top" class="scroll-to-top">
<i class="icon fa fa-angle-up"></i>
</div>
<!-- /Scroll To Top -->

<!-- Modal: Result Message -->
<div class="modal fade" id="result" role="dialog">
<div class="modal-dialog">
	<div class="modal-content">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				<i class="fa fa-times"></i>
			</button>
			<h4 class="modal-title">Sending message</h4>
		</div>

		<div class="modal-body">

			<div class="result-icon">
				<div class="icon-border">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" preserveAspectRatio="none">
						<circle cx="8" cy="8" r="6.215" transform="rotate(90 8 8)"></circle>
					</svg>
					<i class="icon fa fa-check"></i>
				</div>
			</div>

			<p class="modal-result h4 text-center"></p>
		</div>

	</div>
</div>
</div>
<!-- /Modal: Result Message -->

<!-- SCRIPTS -->
{include file="public/base-js" /}
<!-- /SCRIPTS -->


<!-- TODO: Remove this block, Demo-version only -->
<!-- Styleswitcher -->
<!-- /Styleswitcher -->

</body>
</html>
