<!-- Header -->
<header id="home" class="header">

<!-- Navigation -->
<nav id="navigation" class="navbar affix">

	<!-- Company Information -->
	<div class="information hidden-sm hidden-xs">
		<div class="container">
			<div class="row">

				<!-- Feedback -->
				<div class="col-md-7">
					<a href="" class="iframe-popup"><span class="icon icon_pin_alt"></span> 988782, Our Street, L.A.</a>
					<a href="#"><span class="icon icon_mail_alt"></span> clients@example.com</a>
					<a href="#"><span class="icon icon_phone"></span> +1 987 123 456</a>
				</div>
				<!-- /Feedback -->

				<!-- Social -->
				<div class="col-md-5">
					<ul class="social">
						<li><a href="#" class="fa fa-fw fa-facebook"></a></li>
						<li><a href="#" class="fa fa-fw fa-twitter"></a></li>
						<li><a href="#" class="fa fa-fw fa-google-plus"></a></li>
						<li><a href="#" class="fa fa-fw fa-dribbble"></a></li>
						<li><a href="#" class="fa fa-fw fa-pinterest"></a></li>
					</ul>
				</div>
				<!-- /Social -->

			</div>
		</div>
	</div>
	<!-- /Company Information -->

	<div class="container">

		<div class="row">
			<div class="col-md-12">

				<!-- Navigation Header -->
				<div class="navbar-header">

					<!-- Toggle Button -->
					<button type="button"
							class="navbar-toggle collapsed"
							data-toggle="collapse"
							data-target="#main-menu"
							aria-expanded="false"
							aria-controls="main-menu">

						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>

					</button>
					<!-- /Toggle Button -->

					<!-- Brand -->
					<a href="#" class="brand">

						<!-- Logo Big -->
						<img src="__STATIC__/home/images/logo.png" class="logo-big" alt="">
						<!-- /Logo Big -->

						<!-- Logo Small -->
						<img src="__STATIC__/home/images/logo-small.png" class="logo-small" alt="">
						<!-- /Logo Small -->

					</a>
					<!-- /Brand -->

				</div>
				<!-- /Navigation Header -->

				<!-- Navigation -->
				<div id="main-menu" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="index.html">Home</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle">About</a>
							<ul class="dropdown-menu">
								<li><a href="404.html">About me</a></li>
								<li><a href="{:url('index/header/process')}">进程</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle">Pages</a>
							<ul class="dropdown-menu">
								<li><a href="404.html">404</a></li>
								<li><a href="services.html">Services</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle">Blog</a>
							<ul class="dropdown-menu">
								<li><a href="blog.html">Post List - Right Sidebar</a></li>
								<li><a href="blog.html">Post List - Right Sidebar</a></li>
								<li><a href="single-post.html">Single Post</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle">Portfolio</a>
							<ul class="dropdown-menu">
								<li><a href="portfolio.html">category</a></li>
								<li><a href="single-project.html">具体产品单页面</a></li>
							</ul>
						</li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<!-- /Navigation -->

			</div>
		</div>

	</div>
</nav>
<!-- /Navigation -->

</header>
<!-- /Header -->