<!-- Header -->
<header id="home" class="header">

<!-- Navigation -->
<nav id="navigation" class="navbar affix">

	<!-- Company Information -->
	<div class="information hidden-sm hidden-xs">
		<div class="container">
			<div class="row">

				<!-- Feedback -->
				<div class="col-md-7">
					<a href="#"><span class="icon icon_pin_alt"></span>ChengDu, CN</a>
					<a href="#"><span class="icon icon_mail_alt"></span> 1573646491@qq.com</a>
					<a href="#"><span class="icon icon_phone"></span> Have a guess</a>
				</div>
				<!-- /Feedback -->

				<!-- Social -->
				<div class="col-md-5">
					<ul class="social">
						<li><a href="https://github.com/FerreWagner/Heater" target="_blank" class="fa fa-fw fa-github"></a></li>
						<li><a href="https://weibo.com/u/3877828291" target="_blank" class="fa fa-fw fa-weibo"></a></li>
						<li><a href="//shang.qq.com/wpa/qunwpa?idkey=15d229c0ccaf8f5e4901e4be5ff5580f7bdbbf4baab700894dd4212802ce0243" target="_blank" class="fa fa-fw fa-qq"></a></li>
						<li><a href="#" class="fa fa-fw fa-google-plus"></a></li>
					</ul>
				</div>
				<!-- /Social -->

			</div>
		</div>
	</div>
	<!-- /Company Information -->

	<div class="container">

		<div class="row">
			<div class="col-md-12">

				<!-- Navigation Header -->
				<div class="navbar-header">

					<!-- Toggle Button -->
					<button type="button"
							class="navbar-toggle collapsed"
							data-toggle="collapse"
							data-target="#main-menu"
							aria-expanded="false"
							aria-controls="main-menu">

						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>

					</button>
					<!-- /Toggle Button -->

					<!-- Brand -->
					<a href="#" class="brand">

						<!-- Logo Big -->
						<img src="__STATIC__/home/images/logo.png" class="logo-big" alt="Heater-logo">
						<!-- /Logo Big -->

						<!-- Logo Small -->
						<img src="__STATIC__/home/images/logo-small.png" class="logo-small" alt="">
						<!-- /Logo Small -->

					</a>
					<!-- /Brand -->

				</div>
				<!-- /Navigation Header -->

				<!-- Navigation -->
				<div id="main-menu" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
					{volist name="cateres" id="cares"}
						{if $cares['child'] != 0}
					
							<li class="dropdown">
								<a href="{:url('index/article/catesearch', ['id' => $cares['id']])}" class="dropdown-toggle">{$cares['catename']}</a>
								<ul class="dropdown-menu">
									{if !empty($cares['child'])}
									
									<?php foreach($cares['child'] as $_k2 => $_v2): ?>
										<li><a href="{:url('index/article/catesearch', ['id' => $_v2['id']])}">{$_v2['catename']}</a></li>
									<?php endforeach;?>
									
									{/if}
								</ul>
							</li>
						{else /}
						
						<li><a href="{if $cares.catename == 'HOME'}/{else /}{:url('index/article/catesearch', ['id' => $cares['id']])}{/if}">{$cares['catename']}</a></li>
						
						{/if}
					{/volist}
					</ul>
				</div>
				<!-- /Navigation -->

			</div>
		</div>

	</div>
</nav>
<!-- /Navigation -->

</header>
<!-- /Header -->