
<!-- Section: Best Features -->
<section id="beast-features" class="section">
	<div class="container">

		<!-- Section Header -->
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<header class="text-center">
					<h2 class="section-title">Best Features in <span class="text-theme">This Project</span></h2>
					<p class="section-subtitle">It is a long established fact that a reader</p>
				</header>
			</div>
		</div>
		<!-- /Section Header -->

		<!-- Section Content -->
		<div class="row section-content">


			<div class="col-md-6">

				<h3>List of Features</h3>

				<ul class="list">
					<li>
						<h4 class="title bounceInUp wow" data-wow-duration="1.3s" data-wow-delay="0.2s">Clean Design</h4>
						<p class="description fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.2s">
							It is a long established fact that a reader will be distracted by the readable content
							of a page when looking at its layout.
						</p>
					</li>
					<li>
						<h4 class="title bounceInUp wow" data-wow-duration="1.3s" data-wow-delay="0.4s">Mobile Friendly</h4>
						<p class="description fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.4s">
							It is a long established fact that a reader will be distracted by the readable content
							of a page when looking at its layout.
						</p>
					</li>
					<li>
						<h4 class="title bounceInUp wow" data-wow-duration="1.3s" data-wow-delay="0.6s">Well Documented</h4>
						<p class="description fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.6s">
							It is a long established fact that a reader will be distracted by the readable content
							of a page when looking at its layout.
						</p>
					</li>
				</ul>

			</div>

			<!-- Section Image -->
			<div class="col-md-6 hidden-sm hidden-xs bounceInRight wow" data-wow-duration="1.3s">
				<img src="__STATIC__/home/images/devices.png" class="img-responsive" alt="">
			</div>
			<!-- /Section Image -->

		</div>
		<!-- /Section Content -->

	</div>
</section>
<!-- /Section: Best Features -->